

.layout{
  display: flex;
  flex-direction: column;

}
.topchain-container{
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
overflow-x: scroll;
overflow-y: scroll;
  ::-webkit-scrollbar {
    display: none;
}
}

.box {
  margin-top: 1rem;
  margin-bottom: 3rem;
  display: flex;
}

.box .group {
  width: 100%;
  display: flex;
  gap: 3rem;
}

.box .marketsize {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: #161515;
  border-radius: 0.5rem;
  width: 35%;
}

.box .chartcontainer {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: #161515;
  border-radius: 0.5rem;
  width: 65%;
}

.box .heading {
  color: #bebebe;
  font-family: "FXDX-Medium", Helvetica;
  font-size: 1rem;
  margin-top: 0.5rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  display: flex;
  gap: 0.5rem;
}
.heading .div{
  display: flex;
  margin: 0.3rem;
}
.box .headers {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  align-items: center;
}


.box .text-wrapper {
  color: #e4e4e4;
  font-family: "FXDX-Regular", Helvetica;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
align-items: center;
}

.data {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 0.2rem;
  height: px;
}

.exchanges {
  display: flex;
  flex-direction: column;
  gap: 1rem;
 padding: 0.5rem;
 padding-top: 0.7rem;
 white-space: nowrap;
 /* width: 30%; */

}
.mark{
  margin-right:0.3rem ;
}




.box .icon {
  height: 24.49px;
  position: relative;
  width: 24.49px;
}

.tableheader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
}

.div {
 height: auto;

  
}

.datatable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  border-radius: 0.5rem;
}

.tables {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #201f1f;
  /* background-color: rgb(52, 28, 235); */
margin-bottom: 1rem;
padding-right: 1.5rem;
z-index: 2;
top: 0;
position:sticky;

}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; 
  left: 50%; 
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.search {
  outline: none;
  border: none;
  background-color: inherit;
  align-items: center;
  justify-content: center;
}

.search input {
  border: none;
  outline: none;
  background-color: inherit;
  margin: 0.7rem;
}

.search img {
  margin-top: 0.7rem;
  margin-left: 0.5rem;
}


.rightheading{
  display: flex;
  flex-direction: row;
}
.rightheading .all{

  margin-right:0.5rem ;
}
.rightheading .candle{
  border: 2px solid rgb(65, 62, 63);
  border-radius: 0.2rem;
}

.minih{
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-bottom: 0.5re;
}


.recharts-pie-label-line, .recharts-legend-item-text {
  fill: #333;
}

.recharts-tooltip-wrapper {
  background-color: rgba(255, 255, 255, 0.9); 
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.recharts-tooltip-label {
  color: #333; 
  font-weight: bold;
}

.recharts-tooltip-item {
  color: #555; 
}
.linechart{
  margin-top: 1rem;
  color: #396ef7;
  width: 100%;
}
.tmainhead {
  font-size: 1.5rem;
  font-weight: bold;
}



@media(min-width:1600px){
  .topchain-container{
    margin-left: 20rem;
    margin-right: 20rem;
  }
}

@media (max-width: 768px) {
  .topchain-container{
    display: flex;
    flex-direction: column;
margin: 0.5rem; 
  }
  .layout{
    display: flex;
    flex-direction: column;
  }
  .box {
 display: flex;
 flex-direction: column;
 margin: 0.5rem;
 height: auto;
 position: sticky;
  }
.group{
  flex-direction: column;
}
 .box  .marketsize{
  width: 100%;
}
.box .chartcontainer{
  width: 100%;
}
.div{
  margin: 0rem;
overflow-x: scroll;

    
::-webkit-scrollbar {
  display: none;
}
}

.searchbar {
  border: 2px solid rgb(89, 85, 85);
  border-radius: 0.5rem;
  width: 20%;
}
.search {
  outline: none;
  border: none;
  background-color: inherit;
  align-items: center;
  justify-content: center;
}

.search input {
  border: none;
  outline: none;
  background-color: inherit;
  margin: 0.7rem;
}

.search img {
  margin-top: 0.7rem;
  margin-left: 0.5rem;
}

.tmainhead {
  font-size: 1.5rem;
  font-weight: bolder;
}

.table{
  overflow-x:auto ;
  padding: 0.3rem;
  top: 0;
  z-index: 1000;
}
}
table{
  table-layout: fixed;
 margin: 0 auto;
 padding: 0;
  border-collapse: collapse;
  width: 100%;
  justify-content: center;
  border-spacing: 0 !important;
}
th {
  text-align: left;
  margin: 0;
  padding: 1rem;
  padding-left: 1.5rem; 

border: 0;

border-collapse: collapse;

}
td {
  padding: 1rem;  
  padding-left: 1.5rem;
}
thead{
  border-collapse: collapse !important;
  background-color: rgb(38, 37, 37);
  border: none;

}
.topchainstable{
  border-collapse: collapse;
  width: 100%;
  min-width: 1000px;
  overflow-y: scroll;
  margin-top: 1rem;
}
.topchainstable thead th {
  position: sticky;
  top: 0;
  z-index: 10; /* keeps the header on top */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4); /* optional: adds a shadow for a subtle lifting effect */
}
table, th, td, tr {
  border: none !important;
}
th{
  top: 0;
  position: sticky;
  z-index: 100;
}

.chaincell{
  text-align: center;
  align-items: center;
  display: flex;
  gap: 0.5rem;
}
th:first-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

th:last-child {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
th:nth-child(1), td:nth-child(1) {
  width: 5%; 
}

th:nth-child(2), td:nth-child(2) {
  width: 20%; 
  white-space: nowrap;
}

th:last-child, td:last-child {
  text-align: center;
  width: 15%; 
}

.table1 th:nth-child(1){
width: 3%;
text-align: left;
}
.table1 th:nth-child(2) {
  text-align: left;
  }
.table1 th:nth-child(3) {
  text-align: right;
  }
.table1 td:nth-child(3) {
  text-align: right;
  }
.table1 td:nth-child(1), .table1 td:nth-child(2) {
  padding-right: 10px; 
  text-align: left;
}

.table1 thead{
  background-color: #151515;
  text-align: left;
 top: 0;
 position: sticky;
}

.table1 th{
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}
.table1 td{
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.table1{
  margin-top: 1rem;
}